// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#aboutContent{
    opacity: 1;
}
.FAQlist{
    width: 80vh;
    border: 2px;

}