// Place all the styles related to the Contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.TotalPage{
    background-color: rgb(105, 202, 209)
}

.ContactPage{
height: 100vh;
}
#contactSection{
    opacity: 1;
}

.TotalPage{
    height: 100vh;
}


@media (max-width: 768px) {


    
}