// #userCardContainer{
//     margin: auto;
// }
// #engCard{
//     width: 25vw;
//     height:50vh;
// }

// #userCardContainer{
//     border:2px;
//     border-style: solid;
//     border-color: aqua;
// }

// #cardCol{
//     border:2px;
//     border-style: solid;
//     border-color: red;
//     width: 26.6%;
// }

.UserCard{
   height: 35vh;
}

.UserCard1{
    height: 35vh;
}

.cardBody{
    margin: auto;
}