/* #features {
    width: 15%;
    margin-left: 50%;
    font-family: sans-serif;
    overflow-y: scroll;
    background-color: #fafafa;
} */
/* section {
    padding:  25px 50px;
    line-height: 25px;
    border-bottom: 1px solid #ddd;
    opacity: 0.25;
    font-size: 13px;
} */
/* section.active {
    opacity: 1;
}
section:last-child {
    border-bottom: none;
    margin-bottom: 200px;
}


.marker {
  background-image: url('./burglar-1.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.map-popup {

  text-align:center;
}
.map-popup, .map-popup h3 {
  color: black;
}




#map {
    position: fixed;
    width:50%;
}

#borders {
  border: solid 1px black;
}

.mapboxgl-popup-content {
  background-color: white;

}

.mapboxgl-popup-content-wrapper {
} */

.mapContainer{
  border: 2px;
  border-style: solid;
  border-color: red;
  width: 100vw;
  height: 100vh;
}

#mapDiv{
  border: 2px;
  border-style: solid;
  border-color: blue;
  width: 100%;
  height: 100vh;
}

.mapRow{
  border: 2px;
  border-style: solid;
  border-color: yellow;
  /* width: 100vw; */
}

#mapCard{
  border: 2px;
  border-style: solid;
  border-color: teal;
  width: 20vw;
}