

  .SideNavHeader{
    height: 20vh;
    width: 100vh;
    background-image: url("https://i.imgur.com/pyVPERs.png");
    background-size: 10em;
    background-repeat: no-repeat;
    background-position: center;
  }
