

.title {
  text-align: center;
}

.reportButton{
    height: 6em;
    width: 6em;
    border: 2px;
    border-style: solid;
    border-color: transparent;
    padding: 2%;
}




.modal-content{
    border: 2px;
    border-style: solid;
    border-color: red;
}

.modal-footer {
  text-align: center;
  display: flex;
  justify-content: center;
}
@media (max-width: 740px) {


  }
