
#everyone {
  margin: 15px 10px;
}

.userInteraction{
  width: 80vw;
  margin: auto;
  border: 2px;
  border-style: solid;
  border-color: blue;
}

#userBanner{
  width: 100%;
}

.scoreboardPage{
  background-color: rgb(105, 202, 209)
}